<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/css/register.css">
    <style>
        body{
        background-image: url("/Assets/wp9161674.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    </style>
    <title>Register</title>

</head> 
<body>
    <div class="box">
        <div class="transbox">
            <h1 style="font-weight: bolder;">ğ‘ğ„ğ†ğˆğ’ğ“ğ„ğ‘</h1>
        </div>
        <form action="/register" method="POST">

            <div class="user-box">
                <label style="font-weight: bolder;position: relative;bottom:85px;">Name</label>
                <input required="true" name="Name" type="name" style="background-color: transparent;position: relative; bottom: 75px;">
            </div>
            <div class="user-box">
                <label style="font-weight: bolder;position: relative;bottom:45px;">Email</label>
                <input required="true" name="Email" type="email" style="background-color: transparent;position: relative;bottom:35px;">
            </div>
            <div class="user-box">
                <label style="font-weight: bolder;position: relative;bottom:5px;" >Password</label>
                <input required="true" name="Password" type="password" style="background-color: transparent;position: relative;bottom:-5px;">

            </div>
            
            <button id="output" style="position: relative;width: 250px;left: 28px;top: 20px;"><strong style="color: white;font-size: medium;">SUBMIT</strong></button>
        
        </form>
        
        
    </div>
</body>
ğ‹ğğ†ğˆğ